version: "3.8"
services:
  nextjs:
    image: node:alpine
    working_dir: /app
    ports:
      - 3000:3000
    depends_on:
      - postgres
    volumes:
      - ./:/app
    env_file:
      - .env
    command: sh -c "npm install && npx prisma generate && npm run dev"

  postgres:
    image: postgres:15
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
