@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #000000; /* Light mode text */
}

.dark {
  --background: #030303; /* Dark mode background */
  --foreground: #ffffff; /* Dark mode text */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease;
}

@layer base {
}
